<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./index.js"></script>
    <link href="assets/styles.css" rel="stylesheet" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>The News That Matters</h1>
            <h2 id="instructions">Click to scrape and browse through the news that matters!</h2>
            <button id="scrapeBtn">Click to Scrape!</button>
            <button id="deletThis">Click to clear the scrape</button>
            <button id="viewSaved">View what you thought was important</button>
        </div>
        {{{body}}}
    </div>

</body>

</html>