<h1>The News That Matters</h1>

<ul>
    {{#each articles}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{art_image}} alt="article">
        <div class="card-body">
            <a href={{link}}>
                <h5 class="card-title">{{headline}}</h5>
            </a>
            <p class="card-text">{{summary}}</p>
            <button class="btn btn-primary">Click to save article</button>
        </div>
    </div>
    {{/each}}
</ul>